/* Enter your custom styles here */

.columnPosizioni :nth-child(1)
{

}
.stipAdmin .sapMListTblCell {
  border-left: 1px solid #ccc;
}

tr[data-mydata="G"] {
  background: #f0f0f0 !important;
}
.test {
  display: block;
  height: 100%;
  width: 100%;
}


.titleTile{
  overflow: hidden !important;
}

.titleInfo{
font-size: medium;
}

/* Intestazioni colonne */
.sapMLabel, .sapMLabelTextWrapper {
  text-overflow: inherit !important;
  overflow: visible !important;
}

.sapUiAFLayoutItem, .sapUiAFLayoutEnd {
  overflow: visible !important;
}


/* Button */
.sapMTB {
  overflow: visible !important;
}

.sapMBtnContent {
  overflow: visible !important;
}


/* Title */
.sapMTitle {
  overflow: visible !important;
}
.sapMBarContainer {
  overflow: visible !important;
  text-overflow: inherit !important;
}

.sapMPanel {
  overflow: visible !important;
}

.sapMNav {
  overflow: visible !important;
}


/* Object Header */
.sapMOHR .sapMOHRAttr .sapMObjectAttributeTitle, .sapMOHR .sapMOHRAttr .sapMObjectAttributeText {
  overflow: visible !important;
}

.sapMOHR .sapMOHRAttr .sapMObjectAttributeDiv {
  overflow: visible !important;
}

/* Rimuovere per tornare a versione precedente */

.sapMPanelHdr { 
  height: 0px !important;
}
.showTitle > .sapMPanelHdr {
  height: 2.75rem !important;
}

.block{
  display: block;
}

.sapMDialogScroll{
height: 100% !important;
}
/* 
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainContent{
  width: 100% !important;
}  */



/* Header */
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainContent.sapFDynamicPageTitleMainContentHasContent {
  width: 100% !important;
}

.sapFDynamicPageTitle .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainContent .sapMTB {
  justify-content: space-between !important;
}

/*
non funziona lo scroll dei filtri con questi due attivi  
.sapMPage>section.sapMPageEnableScrolling {
  overflow: visible !important;
}

.sapMPage>section {
  overflow: visible !important;
}*/