/* Enter your custom styles here */

.columnPosizioni :nth-child(1)
{

}
.stipAdmin .sapMListTblCell {
  border-left: 1px solid #ccc;
}

tr[data-mydata="G"] {
  background: #f0f0f0 !important;
}
.test {
  display: block;
  height: 100%;
  width: 100%;
}